<div class="szn-login-window">
    <div class="szn-login-close"></div>
    <div class="szn-login-page">
        <div id="sznLoginAd"></div>
        <form id="sznLoginForm" class="szn-login-form" method="post" ng-submit="submit($event);">
            <div class="text" ng-if="!error.msg" ng-bind-html="titleText"></div>
            <div class="text error" ng-if="!!error.msg"><strong>{{error.msg}}</strong> <span ng-if="error.href">(<a ng-href="{{error.href}}" target="_blank">?</a>)</span></div>
            <div ng-if="error.weakpassword.positive">
                <div>
                    <a ng-href="{{error.weakpassword.href}}">Změnit heslo</a>
                </div>
                <div>
                    <a ng-href="#" ng-click="continueWithWeakPassword($event);">Pokračovat se současným heslem</a>
                </div>
            </div>
            <div ng-if="!error.weakpassword.positive && !error.cookieDisabled">
                <div>
                    <span class="input" ng-class="{error: error.msg != ''}"><input type="text" name="username" ng-model="data.username" auto-fill-sync szn-placeholder="Libovolný e-mail" focusable /><span class="icon"></span></span>
                </div>
                <div>
                    <span class="input" ng-class="{error: error.msg != ''}"><input type="password" name="password" ng-model="data.password" auto-fill-sync szn-placeholder="Heslo" /><span class="icon"></span></span><input type="submit" value="Přihlásit se" />
                </div>
                <div>
                    <label><input type="checkbox" ng-checked="data.remember" ng-model="data.remember" />Pamatovat si mě na tomto počítači (<a target="_blank" ng-href="http://napoveda.seznam.cz/cz/login/prihlaseni/">?</a>)</label>
                </div>
            </div>
            <div ng-if="error.cookieDisabled">
                <div>
                    Pro správné přihlášení je potřeba zapnout cookies. Nevíte se rady? Podívejte se do <a target="_blank" ng-href="http://napoveda.seznam.cz/cz/povoleni-cookie-v-internetovych-prohlizecich.html">nápovědy</a>.
                </div>
            </div>
            <div>
                <div class="info">
                    Nejste zaregistrováni na Seznam.cz? <a ng-href="#" ng-click="activateRegisterPage($event)">Registrujte se!</a>
                </div>
                <div>
                    <a ng-href="http://napoveda.seznam.cz/cz/zapomenute-heslo.html">Zaslat zapomenuté heslo</a>
                </div>
            </div>
            <div class="line"></div>
        </form>
    </div>
</div>