<div class="szn-login-window verify hidden">
    <div class="szn-login-close"></div>
    <div class="szn-verify-page">
        <form id="sznLoginForm" class="szn-login-form" method="post" ng-submit="submit($event);">
            <div class="text">Pro dokončení klikněte na odkaz, který jsme vám poslali na e-mail nebo opište zaslaný kód.</div>
            <div>
                <div>
                    <span class="input"><input type="text" name="verify" placeholder="XXXXXX" title="Zadejte obdržený kód" ng-model="data.pin"><span class="icon"></span></span><input type="submit" value="Dokončit">
                </div>
                <div class="text error" ng-if="!!error.msgs.length"><div ng-repeat="emsg in error.msgs"><strong>{{emsg.msg}}</strong></div></div>
                <div class="resend" ng-if="!resended">
                    Nepřišel vám kód? <a ng-href="#" ng-click="resendCode($event);">Zaslat znovu ověřovací kód</a>
                </div>
                <div class="text resend notify" ng-if="!!resended"><strong>Zkontrolujte svou e-mailovou schránku, kam jsme vám zaslali nový ověřovací kód.</strong></div>
            </div>
        </form>
    </div>
</div>